

    .header_container{
        width:100%;
        height:150px;
        background-color: darkred;
        color:white;
    }
    /*page backround*/
    body {
        /*background-image:url('../../static/img/leather_texture343.jpg');*/
    }

    .item { width: 25%; }
    .item.w2 {
        width: 50%;
    }



/*drop area image format*/
    .droparea {
        height: 250px;
        width: 100px;
        border: 3px;
        margin: 5px;
    }

    .droppable_headwear {

        height: 50px;
        width: 100px;
        border: 2px solid black;
        text-align: center;
        font-size: 50%;

    }

    .droppable_top {
        height: 50px;
        width: 100px;
        border: 2px solid black;
        text-align: center;
        font-size: 50%;

    }

    .droppable_bottom {
        height: 50px;
        width: 100px;
        border: 2px solid black;
        text-align: center;
        font-size: 50%;

    }

    .droppable_shoes {
        height: 50px;
        width: 100px;
        border: 2px solid black;
        text-align: center;
        font-size: 50%;

    }

    .droppable_accessories {
        height: 50px;
        width: 100px;
        border: 2px solid black;
        text-align: center;
        font-size: 50%;

    }


/*draggable image formating*/
    .draggable_top{
        height: 50px;
        width: 50px;
    }
    .draggable_bottom {
        height: 50px;
        width: 50px;
    }
    .draggable_accessories {
        height: 50px;
        width: 50px;
    }
    .draggable-shoes {
        height: 50px;
        width: 50px;
    }
    .draggable_headwear {
        height: 50px;
        width: 50px;
    }


    /*clothing image divs*/
    .tops{
        /*background-image:url('../../static/img/depositphotos_3766709-Old-wood-background.jpg');*/
        margin: 10px;
        float: left;
        width:75%;
        height:110px;
        border:2px solid black;
        /*overflow:scroll;*/

    }

    .bottoms{
        /*background-image:url('../../static/img/8830732-wood-background.jpg');*/
        margin: 10px;
        float: left;
        width:75%;
        height:110px;
        border:2px solid black;
        /*overflow:scroll;*/
    }
    .shoes{
        /*background-image:url('../../static/img/370795.jpg');*/
        margin: 10px;
        float: left;
        width:75%;
        height:110px;
        border:2px solid black;
        /*overflow:scroll;*/
    }

    .headwear {
        /*background-image:url('../../static/img/depositphotos_3766709-Old-wood-background.jpg');*/
        margin: 10px;
        float: left;
        width:75%;
        height:110px;
        border:2px solid black;
        /*overflow:scroll;*/

    }
    .accessories{
        /*background-image:url('../../static/img/wood-siding-barn-vertical-untreated.jpg');*/
        margin: 10px;
        float: left;
        width:75%;
        height:110px;
        border:2px solid black;
        /*overflow:scroll;*/
    }

    .footer{
        position: fixed;
        right: 0;
        bottom: 0px;
        height: 300px;
        width: 200px;
        margin: 10px;
        border: 2px solid black;
        /*background-image:url('../../static/img/images.jpg');*/
        opacity: 0.75;

    }




