{% extends 'user_page.html' %}
{% load staticfiles %}
    {% block extrahead %}
        <div id="header_container">
            <div id="header">
                <link rel="stylesheet" href="../static/css/profile.css">
                <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
                <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
                <img src="../static/img/white-flowers-blue-sky-website-header.jpg" width=100% height="150" alt="'logo"/>
                <script type="text/javascript" src="/static/js/profile.js"></script>
            </div>
        </div>
    {% endblock %}

    {% block content %}

        <center><h1>Fashion for those who don't have it </h1>
        <p>welcome back {{ user.username }}</p>
        <p>{{ user.description }}</p></center>
        <button id="clothes">Upload Clothes</button>
            <div style="display: none" id="topform">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="submit">
                </form>
            </div>


    {% endblock %}

         {% block drop%}
         <div class="container">
            <div class="row">
             <div class="droparea col-md-3 col-offset-1 pull-right">

                 <div class="droppable_headwear">
                     <ol class="ui_sortableHead">
                        <li class="spotheld">hats here</li>
                    </ol>
                     <hr>
                 </div>

                 <div class="droppable_top">
                    <ol class="ui_sortable">
                        <li class="placeholder">tops here</li>
                    </ol>
                     <hr>
                 </div>

                 <div class="droppable_bottom">
                    <ol class="ui_sortableA">
                        <li class="spothold">pants here</li>
                    </ol>
                     <hr>
                 </div>

                 <div class="droppable_shoes">
                     <ol class="ui_sortableShoes">
                        <li class="placehold">shoes here</li>
                    </ol>
                     <hr>
                 </div>

                 <div class="droppable_accessories">
                     <ol class="ui_sortableAcc">
                        <li class="holdspot">accessories here</li>
                    </ol>
                     <hr>
                 </div>
                <a id="btn-start" href="" data-pk="{{ data.id }}" class="btn btn-primary btn-embossed">Save</a>
             </div>
         {% endblock %}



        {% block body %}
            <div class="col-md-8">
                <div class='tops'>
                    {% for i in clothes_tops %}
                    <img class="draggable_top" src="{{ i.image.url }}" data-id="{{ i.id }}">
                    {% endfor %}
                </div>

                <div class="bottoms" draggable="true">
                    {% for i in bottoms %}
                    <img class="draggable_bottom" src="{{ i.image.url }}" data-id="{{ i.id }}">
                    {% endfor %}
                </div>

                 <div class="shoes" draggable="true">
                      {%  for i in shoes %}
                     <img class="draggable_shoes" src="{{ i.image.url }}" data-id="{{ i.id }}">
                     {% endfor %}
                 </div>

                <div class="accessories" draggable="true">
                    {% for i in accessories %}
                    <img class="draggable_accessories" src="{{  i.image.url }}" data-id="{{ i.id }}">
                    {% endfor %}
                </div>

                <div class="headwear" draggable="true">
                    {% for i in headwear %}
                    <img class="draggable_headwear" src="{{  i.image.url }}" data-id="{{ i.id }}">
                    {% endfor %}

                </div>
            </div>

                </div>
            </div>
        {% endblock %}






    {% block footer %}

    {% endblock %}
