{% extends 'user_page.html' %}
{% load staticfiles %}
    {% block extrahead %}
        <div id="header_container">
            <div id="header">
                <link rel="stylesheet" href="../static/css/profile.css">
                <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
                <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
                <img src="../static/img/white-flowers-blue-sky-website-header.jpg" width=100% height="150" alt="'logo"/>
                <script type="text/javascript" src="/static/js/profile.js"></script>
            </div>
        </div>
    {% endblock %}

    {% block content %}
        <center><h1>Fashion for those who don't have it </h1>
        <p>welcome back {{ user.username }}</p>
        <h3></h3></center>
    {% endblock %}

    {% block tops %}
        <div class='tops'>
            {% for i in clothes_tops %}
            <img class="draggable_top" src="{{ i.image.url }}">
            {% endfor %}
        </div>

    {% endblock %}

    {% block bottoms %}
        <div class="bottoms" draggable="true">
            {% for i in bottoms %}
            <img class="draggable_bottom" src="{{ i.image.url }}">
            {% endfor %}
        </div>
    {% endblock %}

    {% block shoes %}
         <div class="shoes" draggable="true">
              {%  for i in shoes %}
             <img class="draggable_shoes" src="{{ i.image.url }}">
             {% endfor %}
         </div>
    {% endblock%}

    {% block accessories %}
        <div class="accessories" draggable="true">
            {% for i in accessories %}
            <img class="draggable_accessories" src="{{  i.image.url }}">
            {% endfor %}
        </div>
    {% endblock %}
    {% block headwear %}
        <div class="headwear" draggable="true">
            {% for i in headwear %}
            <img class="draggable_headwear" src="{{  i.image.url }}">
            {% endfor %}

        </div>
    {% endblock %}
     {% block drop%}
         <div class="droparea">
             <ul>
             <div class="droppable_headwear">
                <p>drop headwear here</p>
             </div>
             <div class="droppable_top">
                <p>drop tops here</p>
             </div>
             <div class="droppable_bottom">
                <p>drop pants here</p>
             </div>
             <div class="droppable_shoes">
                <p>drop shoes here</p>
             </div>
             <div class="droppable_accessories">
                <p>drop accessories here</p>
             </div>
             </ul>
         </div>
     {% endblock %}


    {% block footer %}

        <div class="footer">
        <button id="clothes">Upload Clothes</button>
            <div style="display: none" id="topform">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="submit">
                </form>
            </div>
        </div>
    {% endblock %}
