{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head lang="en">
            <meta charset="UTF-8">
            <script src="../static/js/jquery-1.11.1.js"></script>
            <span style="float:right;"><a href="{% url 'logout' %}">Logout</a></span>
        <title>

        </title>
    </head>

        <body>
            {% block extrahead %}{% endblock %}
            {% block content %}{% endblock %}
            <div id="mainDiv">
                {% block drop%}{% endblock %}
                {% block tops %}{% endblock %}
                {% block bottoms%}{% endblock %}
                {% block shoes %}{% endblock %}
                {% block headwear %}{% endblock %}
                {% block accessories %}{% endblock %}
            </div>

        </body>

    <footer>
    {% block footer %}

    {% endblock %}
    </footer>
</html>